/* Estilos Gerais */
body {
    background: linear-gradient(to bottom, #B5F199, #89B774);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color: #1B2A63;
    margin: 0;
}

.btn {
    background-color: #2980B9;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #21618C;
}

/* Estilos da Listagem de Produtos */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: calc(33.333% - 20px); /* Três cartões por linha */
    box-sizing: border-box;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-info {
    text-align: left;
}

.product-info h2 {
    font-size: 1.2em;
    margin: 0 0 5px;
}

.product-info p {
    margin: 5px 0;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-danger {
    background-color: #E74C3C;
}

.btn-danger:hover {
    background-color: #C0392B; /* Vermelho mais escuro */
}

/* Estilos do Formulário */
.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px); /* Ajuste para caber no layout */
}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #1B2A63;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="url"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="url"]:focus {
    border-color: #4DB6AC;
    outline: none;
}

.btn-submit {
    background: linear-gradient(to right, #223483, #2980B9); /* Degradê azul */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background: linear-gradient(to right, #1B2A63, #21618C); /* Azul mais escuro */
}

.btn-back {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #2980B9;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.btn-back:hover {
    color: #1B2A63; /* Azul mais escuro */
}

/* Responsividade */
@media (max-width: 768px) {
    .product-card {
        width: calc(50% - 20px); /* Dois cartões por linha em telas menores */
    }
}

@media (max-width: 480px) {
    .product-card {
        width: 100%; /* Um cartão por linha em telas pequenas */
    }
}


/* Estilos para a Página de Importação */
.import-page {
    background: linear-gradient(to bottom, #B5F199, #89B774);
    font-family: 'Arial', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.import-page .container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.import-page h1 {
    color: #1B2A63;
    font-size: 24px;
    margin-bottom: 20px;
}

.import-page .btn-download {
    background-color: #5DADE2;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
}

.import-page .btn-download:hover {
    background-color: #3498DB;
}

.import-page .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.import-page label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.import-page input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.import-page .actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
}

.import-page .btn-submit {
    background: linear-gradient(to right, #223483, #2980B9);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.import-page .btn-submit:hover {
    background: linear-gradient(to right, #1B2A63, #21618C);
}

.import-page .btn-danger {
    background-color: #E74C3C;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.import-page .btn-danger:hover {
    background-color: #C0392B;
}
.button-group {
    display: flex;              /* Alinha os botões lado a lado */
    gap: 10px;                 /* Espaço entre os botões */
}
